/* .res{
    height: 10rem;
    overflow-y: scroll;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 5px;
    padding: 10px;
    background-color: #f1f1f1;
}
.res p{
    border: 1px solid #a0b3b0;
    background-color: white;
    padding-left: 10px;
    border-radius: 5px;
}
.res p:hover{
    background: #ced4da;
}
.breakfast,.dinner,.lunch{
    height: 10rem;
    overflow-y: scroll;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 5px;
    padding: 10px;
    background-color: #f1f1f1;
}

.breakfast p{
    border: 1px solid #a0b3b0;
    background-color: white;
    padding-left: 10px;
    border-radius: 5px;
}
.lunch p{
    border: 1px solid #a0b3b0;
    background-color: white;
    padding-left: 10px;
    border-radius: 5px;
}
.dinner p{
    border: 1px solid #a0b3b0;
    background-color: white;
    padding-left: 10px;
    border-radius: 5px;
}
.breakfast p:hover{
    background: #ced4da;
}
.lunch p:hover{
    background: #ced4da;
}
.dinner p:hover{
    background: #ced4da;
}
/* .lunch{
    height: 10rem;
    overflow-y: scroll;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 5px;
    padding: 10px;
    background-color: #f1f1f1;
}
.dinner{
    height: 10rem;
    overflow-y: scroll;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 5px;
    padding: 10px;
    background-color: #f1f1f1;
} */ 
